<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script>
        (function () {
            let theme = localStorage.getItem('theme');
            if (!theme) {
                const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
                theme = prefersDark ? 'dark' : 'light';
            }
            document.documentElement.setAttribute('data-theme', theme);
        })();
    </script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    {% block meta %}{% endblock meta %}
    <title>{% block title %}{% endblock title %}</title>
    {% endblock head %}
</head>

<body>
    <div id="content" class="content">{% block content %}{% endblock content %}</div>
</body>
</html>